	<% if user.id != current_user.id %>
	<div class="followme">
		<%if is_friend_of?(user)%>
				<p align="center" id="followme_text"> Connected </p>
		<%else%>
			<%if is_request_pending?(user)%>
				<p align="center" id="followme_text"> Connect Pending </p>
			<%else%>
				<%if is_accept_pending?(user)%>
					<p align="center" id="followme_text"> <%= link_to "Accept Connect", "/users/#{user.cached_slug}/accept", :remote=>:true %> </p>
				<%else%>
						<p align="center" id="followme_text"> <%= link_to "Connect", "/users/#{user.cached_slug}/connect", :remote=>:true %> </p>
				<%end%>
				
			<%end%>
		<%end%>
	</div>
<%end%>