
<%= form_for(post, :remote=>:true,:action=>'posts/create') do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
      <% post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
   	<div class="wallpost-header">
		<h2>
			What's Happening?
			</h2>
	</div> <br/>

    <%= f.text_area :post_content,  :id=>"post-box", :onClick=>"clearPostText()", :onBlur=>"resetPostText()" %>
		<button class="button float-right-button" > Post </button>
  </div>
<% end %>

