
<div id="hot_post_#{post.id}" style="position: relative;
float:right;
display: inline;
top: -30px;
left: 10px;
background: url(/images/silver_medal.png) no-repeat;
width: 56px;
height: 48px;
text-align: center;
font-size: 24px;
font-family: 'Yanone Kaffeesatz', Arial, sans-serif;
color: white;
text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
line-height: 38px;">
</div>
